body,
html {
  font-family: fantasy;
}

.login-title {
  font-style: italic;
  color: pink;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://thumbs.gfycat.com/SaltyPlayfulAlpinegoat-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.login-button {
  border-radius: 2em;
  background-color: #bc3a95;
  border: 1px solid gainsboro;
}
