body,
html {
  font-family: fantasy;
}

.document-container {
  display: block;
  min-height: 25vh;
  max-height: 25vh;
  border: 1px solid black;
  padding: 10px;
  overflow-y: scroll;
  text-align: left;
  background: azure;
}

.document-list {
  max-height: inherit;
  box-sizing: border-box;
  text-align: left;
  overflow-y: scroll;
}

.create-or-share-document-div {
  display: flex;
}

.toolbar > * {
  margin-right: 5px;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.document-header {
  display: flex;
  margin-bottom: 20px;
}

.back-to-documents-button {
  background-color: orange;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0.5px 1px black;
}

.logout-button {
  height: 3vh;
  border: 0.5px solid black;
  background-color: lightgray;
  margin-top: 3vh;
  margin-right: 20px;
}

.document-id {
  margin-left: 20px;
}

.editor-container {
  margin: 0 auto;
  border: 2px solid crimson;
  overflow-y: scroll;
  padding: 20px;
  background: azure;
  height: 800px;
  min-width: 400px;
  width: 600px;
}

.editor-page {
  margin: 0.5em;
  height: 100%;
}
