.page-container {
  background-image: url('https://thumbs.gfycat.com/OldZigzagArmyant-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4vh 20vw;
  margin: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.small-input {
  width: 40% !important;
  font-weight: bold;
  color: white;
  margin: 0.5em !important;
}

.home-styled-button {
  border: solid black 1px;
  border-radius: 10px;
  height: 3em;
  background-color: #0be2bb;
  overflow: hidden;
}

.title {
  color: #f6bb3b;
  font-family: fantasy;
}
