.auth-title {
  font-style: italic;
  color: pink;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://thumbs.gfycat.com/HarmfulDeadlyDore-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.auth-button {
  border-radius: 2em;
  background-color: #bc3a95;
  border: 1px solid gainsboro;
}

.auth-center-section {
  color: white;
  z-index: 4;
  text-align: center;
}
